.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  background-color: var(--bg-color);
  margin-right: 10px;
  border-radius: 12px;
  max-width: 355px;
}

.delete {
  display: none;
}
